<h1>Kittens#edit</h1>
<p>Find me in app/views/kittens/edit.html.erb</p>

<%= simple_form_for @kitten do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :cuteness %>
  <%= f.input :softness %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Delete Kitten", @kitten, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, method: :delete %>
